{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>

    <link rel="stylesheet" href="{% static 'tasks/css/style.css' %}">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>

</head>
<body>

    <nav class="navbar">

        <div class="nav-brand">
            <a class="brand-link" href="{% url 'home' %}">Todo App</a>
        </div>

        <div class="nav-links">
            {% if user.is_authenticated %}

                <a href="{% url 'todos' %}">My Todos</a>
                <a href="{% url 'profile' %}">Profile</a>
                <a href="{% url 'logout' %}">Logout</a>

            {% else %}

                <a href="{% url 'login' %}">Login</a>
                <a class="btn-link" href="{% url 'register' %}">Register</a>

            {% endif %}

        </div>

    </nav>

    {% if messages %}
        <div class="messages">
            {% for message in messages %}
              <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <main class="main-content">

        {% block content %}

        {% endblock content %}

    </main>

</body>
</html>