{% extends "tasks/base.html" %}

{% block content %}

<section class="auth-section">

    <div class="auth-card">

        <h1 class="auth-title">Edit Task</h1>
       
        <p class="auth-subtitle">Update your task below.</p>
            
        <form method="POST" class="auth-form">

            {% csrf_token %}

            <div class="form-group">

                <label>Task Name</label>

                <input type="text" name="task_text" value="{{ task.task_text }}">
                

            </div>

            <button type="submit" class="auth-btn">Update Task</button>

        </form>

    </div>

</section>

{% endblock content %}